@model dynamic
@{
    Layout = null;

    string styleX = "pointer-events:none; ";
    if (Convert.ToString(Session["RoleName"]) == "Admin" || Convert.ToString(Session["RoleName"]) == "Super Admin" || Convert.ToString(Session["RoleName"]) == "Trainer")
    {
        styleX = "";
    }

}


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#attendanceC1">1st Week</a></li>
    <li class=""><a data-toggle="tab" href="#attendanceC2">2nd Week</a></li>
    <li class=""><a data-toggle="tab" href="#attendanceC3">3rd Week</a></li>
    <li class=""><a data-toggle="tab" href="#attendanceC4">4th Week</a></li>
    <li class=""><a data-toggle="tab" href="#attendanceC5">5th Week</a></li>
    <li class=""><a data-toggle="tab" href="#attendanceC6">6th Week</a></li>
    <li class=""><a data-toggle="tab" href="#attendanceC7">7th Week</a></li>
    <li class=""><a data-toggle="tab" href="#attendanceC8">8th Week</a></li>
    <li class=""><a data-toggle="tab" href="#attendanceC9">9th Week</a></li>
    <li class=""><a data-toggle="tab" href="#attendanceC10">10th Week</a></li>

    @{
        <li class="pull-right">
            <a href="@Url.Action("AttendanceListExcelC", new { controller = "TrainingCours", id = (int)ViewBag.TrainingCourseID })" class="btn btn-primary btn-add" title="Click to Export" data-toggle="tooltip">
                <i class="fa fa-file-excel-o"></i> Export
            </a>
        </li>

        if (Convert.ToString(Session["RoleName"]) == "Recruiter")
        {
            <li class="pull-right">
                <a class="btn btn-success btn-add" title="Refresh" data-toggle="tooltip" onclick="fnReloadAttendanceC()">
                    <i class="fa fa-refresh"></i> Refresh
                </a>
            </li>
        }
    }
</ul>

<div class="tab-content">
    <div id="attendanceC1" class="tab-pane fade in active">
        <div class="fullresponsivetable">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Recruiter</th>

                        @{
                            //if(Model.Training.StartDate1)
                        }
                        @{
                            for (int i = 1; i <= 5; i++)
                            {
                                <th class="text-center">Day @i <div id="C_HtotalDay_@i">(@ViewData["C_TodayDay" + i])</div></th>
                            }
                        }

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UsersC)
                    {
                        var date1 = "";

                        if (item.PaymentDate != null)
                        {
                            date1 = Convert.ToDateTime(item.PaymentDate).ToString("MM/dd/yyyy");
                        }

                        <tr>
                            <td data-title="Fname">@item.WebsiteUser.FName</td>
                            <td data-title="LName">@item.WebsiteUser.LName</td>
                            <td data-title="Email">@item.WebsiteUser.Email</td>
                            <td data-title="Phone">@item.WebsiteUser.Phone</td>
                            <td data-title="Recruiter">@item.WebsiteUser.RecruiterName</td>


                            @{
                                for (int i = 1; i <= 5; i++)
                                {
                                    var selectedChk = "";
                                    var cellColor = "#C0392B";
                                    var cellLabel = "Absent ✘";
                                    foreach (var att in Model.Attendance)
                                    {

                                        if (att.WebsiteUserID == item.WebsiteUser.WebsiteUserID && att.Day == i)
                                        {

                                            if (att.Attended == true)
                                            {
                                                selectedChk = "checked";
                                                cellColor = "green";
                                                cellLabel = "Present ✔";
                                                break;
                                            }

                                        }
                                    }

                            <td class="text-center" id="cellC_@item.WebsiteUser.WebsiteUserID@i" style="background-color:@cellColor">
                                @{
                                    if (Convert.ToString(Session["RoleName"]) != "Recruiter")
                                    {
                                <input type="checkbox" value="" id="chkAttC_@item.WebsiteUser.WebsiteUserID@i" onchange="setColorCellC(@item.WebsiteUser.WebsiteUserID, @i)" @selectedChk>
                                    }
                                }
                                <label id="cellLabelC_@item.WebsiteUser.WebsiteUserID@i">@cellLabel</label>
                            </td>

                                }


                            }


                        </tr>
                    }

                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><b>Total</b></td>
                        <td><div id="C_totalDay_1">@ViewData["C_TodayDay1"]</div></td>
                        <td><div id="C_totalDay_2">@ViewData["C_TodayDay2"]</div></td>
                        <td><div id="C_totalDay_3">@ViewData["C_TodayDay3"]</div></td>
                        <td><div id="C_totalDay_4">@ViewData["C_TodayDay4"]</div></td>
                        <td><div id="C_totalDay_5">@ViewData["C_TodayDay5"]</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="attendanceC2" class="tab-pane fade in ">
        <div class="fullresponsivetable">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Recruiter</th>

                        @{
                            //if(Model.Training.StartDate1)
                        }
                        @{
                            for (int i = 6; i <= 10; i++)
                            {
                                <th class="text-center">Day @i <div id="C_HtotalDay_@i">(@ViewData["C_TodayDay" + i])</div></th>
                            }
                        }

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UsersC)
                    {
                        var date1 = "";

                        if (item.PaymentDate != null)
                        {
                            date1 = Convert.ToDateTime(item.PaymentDate).ToString("MM/dd/yyyy");
                        }

                        <tr>
                            <td data-title="Fname">@item.WebsiteUser.FName</td>
                            <td data-title="LName">@item.WebsiteUser.LName</td>
                            <td data-title="Email">@item.WebsiteUser.Email</td>
                            <td data-title="Phone">@item.WebsiteUser.Phone</td>
                            <td data-title="Recruiter">@item.WebsiteUser.RecruiterName</td>


                            @{
                                for (int i = 6; i <= 10; i++)
                                {
                                    var selectedChk = "";
                                    var cellColor = "#C0392B";
                                    var cellLabel = "Absent ✘";
                                    foreach (var att in Model.Attendance)
                                    {

                                        if (att.WebsiteUserID == item.WebsiteUser.WebsiteUserID && att.Day == i)
                                        {

                                            if (att.Attended == true)
                                            {
                                                selectedChk = "checked";
                                                cellColor = "green";
                                                cellLabel = "Present ✔";
                                                break;
                                            }

                                        }

                                    }

                            <td class="text-center" id="cellC_@item.WebsiteUser.WebsiteUserID@i" style="background-color:@cellColor">
                                @{
                                    if (Convert.ToString(Session["RoleName"]) != "Recruiter")
                                    {
                                        <input type="checkbox" value="" id="chkAttC_@item.WebsiteUser.WebsiteUserID@i" onchange="setColorCellC(@item.WebsiteUser.WebsiteUserID, @i)" @selectedChk>
                                    }
                                }
                                <label id="cellLabelC_@item.WebsiteUser.WebsiteUserID@i">@cellLabel</label>
                            </td>

                                }


                            }

                        </tr>
                    }

                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><b>Total</b></td>
                        <td><div id="C_totalDay_6">@ViewData["C_TodayDay6"]</div></td>
                        <td><div id="C_totalDay_7">@ViewData["C_TodayDay7"]</div></td>
                        <td><div id="C_totalDay_8">@ViewData["C_TodayDay8"]</div></td>
                        <td><div id="C_totalDay_9">@ViewData["C_TodayDay9"]</div></td>
                        <td><div id="C_totalDay_10">@ViewData["C_TodayDay10"]</div></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div id="attendanceC3" class="tab-pane fade in ">
        <div class="fullresponsivetable">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Recruiter</th>

                        @{
                            //if(Model.Training.StartDate1)
                        }
                        @{
                            for (int i = 11; i <= 15; i++)
                            {
                                <th class="text-center">Day @i <div id="C_HtotalDay_@i">(@ViewData["C_TodayDay" + i])</div></th>
                            }
                        }

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UsersC)
                    {
                        var date1 = "";

                        if (item.PaymentDate != null)
                        {
                            date1 = Convert.ToDateTime(item.PaymentDate).ToString("MM/dd/yyyy");
                        }

                        <tr>
                            <td data-title="Fname">@item.WebsiteUser.FName</td>
                            <td data-title="LName">@item.WebsiteUser.LName</td>
                            <td data-title="Email">@item.WebsiteUser.Email</td>
                            <td data-title="Phone">@item.WebsiteUser.Phone</td>
                            <td data-title="Recruiter">@item.WebsiteUser.RecruiterName</td>


                            @{
                                for (int i = 11; i <= 15; i++)
                                {
                                    var selectedChk = "";
                                    var cellColor = "#C0392B";
                                    var cellLabel = "Absent ✘";
                                    foreach (var att in Model.Attendance)
                                    {

                                        if (att.WebsiteUserID == item.WebsiteUser.WebsiteUserID && att.Day == i)
                                        {

                                            if (att.Attended == true)
                                            {
                                                selectedChk = "checked";
                                                cellColor = "green";
                                                cellLabel = "Present ✔";
                                                break;
                                            }

                                        }

                                    }

                            <td class="text-center" id="cellC_@item.WebsiteUser.WebsiteUserID@i" style="background-color:@cellColor">
                                @{
                                    if (Convert.ToString(Session["RoleName"]) != "Recruiter")
                                    {
                                        <input type="checkbox" value="" id="chkAttC_@item.WebsiteUser.WebsiteUserID@i" onchange="setColorCellC(@item.WebsiteUser.WebsiteUserID, @i)" @selectedChk>
                                    }
                                }
                                <label id="cellLabelC_@item.WebsiteUser.WebsiteUserID@i">@cellLabel</label>
                            </td>

                                }


                            }


                        </tr>
                    }

                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><b>Total</b></td>
                        <td><div id="C_totalDay_11">@ViewData["C_TodayDay11"]</div></td>
                        <td><div id="C_totalDay_12">@ViewData["C_TodayDay12"]</div></td>
                        <td><div id="C_totalDay_13">@ViewData["C_TodayDay13"]</div></td>
                        <td><div id="C_totalDay_14">@ViewData["C_TodayDay14"]</div></td>
                        <td><div id="C_totalDay_15">@ViewData["C_TodayDay15"]</div></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div id="attendanceC4" class="tab-pane fade in ">
        <div class="fullresponsivetable">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Recruiter</th>

                        @{
                            //if(Model.Training.StartDate1)
                        }
                        @{
                            for (int i = 16; i <= 20; i++)
                            {
                                <th class="text-center">Day @i <div id="C_HtotalDay_@i">(@ViewData["C_TodayDay" + i])</div></th>
                            }
                        }

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UsersC)
                    {
                        var date1 = "";

                        if (item.PaymentDate != null)
                        {
                            date1 = Convert.ToDateTime(item.PaymentDate).ToString("MM/dd/yyyy");
                        }

                        <tr>
                            <td data-title="Fname">@item.WebsiteUser.FName</td>
                            <td data-title="LName">@item.WebsiteUser.LName</td>
                            <td data-title="Email">@item.WebsiteUser.Email</td>
                            <td data-title="Phone">@item.WebsiteUser.Phone</td>
                            <td data-title="Recruiter">@item.WebsiteUser.RecruiterName</td>


                            @{
                                for (int i = 16; i <= 20; i++)
                                {
                                    var selectedChk = "";
                                    var cellColor = "#C0392B";
                                    var cellLabel = "Absent ✘";
                                    foreach (var att in Model.Attendance)
                                    {

                                        if (att.WebsiteUserID == item.WebsiteUser.WebsiteUserID && att.Day == i)
                                        {

                                            if (att.Attended == true)
                                            {
                                                selectedChk = "checked";
                                                cellColor = "green";
                                                cellLabel = "Present ✔";
                                                break;
                                            }

                                        }

                                    }

                            <td class="text-center" id="cellC_@item.WebsiteUser.WebsiteUserID@i" style="background-color:@cellColor">
                                @{
                                    if (Convert.ToString(Session["RoleName"]) != "Recruiter")
                                    {
                                        <input type="checkbox" value="" id="chkAttC_@item.WebsiteUser.WebsiteUserID@i" onchange="setColorCellC(@item.WebsiteUser.WebsiteUserID, @i)" @selectedChk>
                                    }
                                }
                                <label id="cellLabelC_@item.WebsiteUser.WebsiteUserID@i">@cellLabel</label>
                            </td>

                                }


                            }


                        </tr>
                    }

                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><b>Total</b></td>
                        <td><div id="C_totalDay_16">@ViewData["C_TodayDay16"]</div></td>
                        <td><div id="C_totalDay_17">@ViewData["C_TodayDay17"]</div></td>
                        <td><div id="C_totalDay_18">@ViewData["C_TodayDay18"]</div></td>
                        <td><div id="C_totalDay_19">@ViewData["C_TodayDay19"]</div></td>
                        <td><div id="C_totalDay_20">@ViewData["C_TodayDay20"]</div></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div id="attendanceC5" class="tab-pane fade in ">
        <div class="fullresponsivetable">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Recruiter</th>

                        @{
                            //if(Model.Training.StartDate1)
                        }
                        @{
                            for (int i = 21; i <= 25; i++)
                            {
                                <th class="text-center">Day @i <div id="C_HtotalDay_@i">(@ViewData["C_TodayDay" + i])</div></th>
                            }
                        }

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UsersC)
                    {
                        var date1 = "";

                        if (item.PaymentDate != null)
                        {
                            date1 = Convert.ToDateTime(item.PaymentDate).ToString("MM/dd/yyyy");
                        }

                        <tr>
                            <td data-title="Fname">@item.WebsiteUser.FName</td>
                            <td data-title="LName">@item.WebsiteUser.LName</td>
                            <td data-title="Email">@item.WebsiteUser.Email</td>
                            <td data-title="Phone">@item.WebsiteUser.Phone</td>
                            <td data-title="Recruiter">@item.WebsiteUser.RecruiterName</td>


                            @{
                                for (int i = 21; i <= 25; i++)
                                {
                                    var selectedChk = "";
                                    var cellColor = "#C0392B";
                                    var cellLabel = "Absent ✘";
                                    foreach (var att in Model.Attendance)
                                    {

                                        if (att.WebsiteUserID == item.WebsiteUser.WebsiteUserID && att.Day == i)
                                        {

                                            if (att.Attended == true)
                                            {
                                                selectedChk = "checked";
                                                cellColor = "green";
                                                cellLabel = "Present ✔";
                                                break;
                                            }

                                        }

                                    }

                            <td class="text-center" id="cellC_@item.WebsiteUser.WebsiteUserID@i" style="background-color:@cellColor">
                                @{
                                    if (Convert.ToString(Session["RoleName"]) != "Recruiter")
                                    {
                                        <input type="checkbox" value="" id="chkAttC_@item.WebsiteUser.WebsiteUserID@i" onchange="setColorCellC(@item.WebsiteUser.WebsiteUserID, @i)" @selectedChk>
                                    }
                                }
                                <label id="cellLabelC_@item.WebsiteUser.WebsiteUserID@i">@cellLabel</label>
                            </td>

                                }


                            }

                        </tr>
                    }

                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><b>Total</b></td>
                        <td><div id="C_totalDay_21">@ViewData["C_TodayDay21"]</div></td>
                        <td><div id="C_totalDay_22">@ViewData["C_TodayDay22"]</div></td>
                        <td><div id="C_totalDay_23">@ViewData["C_TodayDay23"]</div></td>
                        <td><div id="C_totalDay_24">@ViewData["C_TodayDay24"]</div></td>
                        <td><div id="C_totalDay_25">@ViewData["C_TodayDay25"]</div></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div id="attendanceC6" class="tab-pane fade in ">
        <div class="fullresponsivetable">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Recruiter</th>

                        @{
                            //if(Model.Training.StartDate1)
                        }
                        @{
                            for (int i = 26; i <= 30; i++)
                            {
                                <th class="text-center">Day @i <div id="C_HtotalDay_@i">(@ViewData["C_TodayDay" + i])</div></th>
                            }
                        }

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UsersC)
                    {
                        var date1 = "";

                        if (item.PaymentDate != null)
                        {
                            date1 = Convert.ToDateTime(item.PaymentDate).ToString("MM/dd/yyyy");
                        }

                        <tr>
                            <td data-title="Fname">@item.WebsiteUser.FName</td>
                            <td data-title="LName">@item.WebsiteUser.LName</td>
                            <td data-title="Email">@item.WebsiteUser.Email</td>
                            <td data-title="Phone">@item.WebsiteUser.Phone</td>
                            <td data-title="Recruiter">@item.WebsiteUser.RecruiterName</td>


                            @{
                                for (int i = 26; i <= 30; i++)
                                {
                                    var selectedChk = "";
                                    var cellColor = "#C0392B";
                                    var cellLabel = "Absent ✘";
                                    foreach (var att in Model.Attendance)
                                    {

                                        if (att.WebsiteUserID == item.WebsiteUser.WebsiteUserID && att.Day == i)
                                        {

                                            if (att.Attended == true)
                                            {
                                                selectedChk = "checked";
                                                cellColor = "green";
                                                cellLabel = "Present ✔";
                                                break;
                                            }

                                        }

                                    }

                            <td class="text-center" id="cellC_@item.WebsiteUser.WebsiteUserID@i" style="background-color:@cellColor">
                                @{
                                    if (Convert.ToString(Session["RoleName"]) != "Recruiter")
                                    {
                                        <input type="checkbox" value="" id="chkAttC_@item.WebsiteUser.WebsiteUserID@i" onchange="setColorCellC(@item.WebsiteUser.WebsiteUserID, @i)" @selectedChk>
                                    }
                                }
                                <label id="cellLabelC_@item.WebsiteUser.WebsiteUserID@i">@cellLabel</label>
                            </td>

                                }


                            }


                        </tr>
                    }

                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><b>Total</b></td>
                        <td><div id="C_totalDay_26">@ViewData["C_TodayDay26"]</div></td>
                        <td><div id="C_totalDay_27">@ViewData["C_TodayDay27"]</div></td>
                        <td><div id="C_totalDay_28">@ViewData["C_TodayDay28"]</div></td>
                        <td><div id="C_totalDay_29">@ViewData["C_TodayDay29"]</div></td>
                        <td><div id="C_totalDay_30">@ViewData["C_TodayDay30"]</div></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div id="attendanceC7" class="tab-pane fade in ">
        <div class="fullresponsivetable">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Recruiter</th>

                        @{
                            //if(Model.Training.StartDate1)
                        }
                        @{
                            for (int i = 31; i <= 35; i++)
                            {
                                <th class="text-center">Day @i <div id="C_HtotalDay_@i">(@ViewData["C_TodayDay" + i])</div></th>
                            }
                        }

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UsersC)
                    {
                        var date1 = "";

                        if (item.PaymentDate != null)
                        {
                            date1 = Convert.ToDateTime(item.PaymentDate).ToString("MM/dd/yyyy");
                        }

                        <tr>
                            <td data-title="Fname">@item.WebsiteUser.FName</td>
                            <td data-title="LName">@item.WebsiteUser.LName</td>
                            <td data-title="Email">@item.WebsiteUser.Email</td>
                            <td data-title="Phone">@item.WebsiteUser.Phone</td>
                            <td data-title="Recruiter">@item.WebsiteUser.RecruiterName</td>


                            @{
                                for (int i = 31; i <= 35; i++)
                                {
                                    var selectedChk = "";
                                    var cellColor = "#C0392B";
                                    var cellLabel = "Absent ✘";
                                    foreach (var att in Model.Attendance)
                                    {

                                        if (att.WebsiteUserID == item.WebsiteUser.WebsiteUserID && att.Day == i)
                                        {

                                            if (att.Attended == true)
                                            {
                                                selectedChk = "checked";
                                                cellColor = "green";
                                                cellLabel = "Present ✔";
                                                break;
                                            }

                                        }

                                    }

                            <td class="text-center" id="cellC_@item.WebsiteUser.WebsiteUserID@i" style="background-color:@cellColor">
                                @{
                                    if (Convert.ToString(Session["RoleName"]) != "Recruiter")
                                    {
                                        <input type="checkbox" value="" id="chkAttC_@item.WebsiteUser.WebsiteUserID@i" onchange="setColorCellC(@item.WebsiteUser.WebsiteUserID, @i)" @selectedChk>
                                    }
                                }
                                <label id="cellLabelC_@item.WebsiteUser.WebsiteUserID@i">@cellLabel</label>
                            </td>

                                }


                            }

                        </tr>
                    }

                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><b>Total</b></td>
                        <td><div id="C_totalDay_31">@ViewData["C_TodayDay31"]</div></td>
                        <td><div id="C_totalDay_32">@ViewData["C_TodayDay32"]</div></td>
                        <td><div id="C_totalDay_33">@ViewData["C_TodayDay33"]</div></td>
                        <td><div id="C_totalDay_34">@ViewData["C_TodayDay34"]</div></td>
                        <td><div id="C_totalDay_35">@ViewData["C_TodayDay35"]</div></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div id="attendanceC8" class="tab-pane fade in ">
        <div class="fullresponsivetable">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Recruiter</th>

                        @{
                            //if(Model.Training.StartDate1)
                        }
                        @{
                            for (int i = 36; i <= 40; i++)
                            {
                                <th class="text-center">Day @i <div id="C_HtotalDay_@i">(@ViewData["C_TodayDay" + i])</div></th>
                            }
                        }

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UsersC)
                    {
                        var date1 = "";

                        if (item.PaymentDate != null)
                        {
                            date1 = Convert.ToDateTime(item.PaymentDate).ToString("MM/dd/yyyy");
                        }

                        <tr>
                            <td data-title="Fname">@item.WebsiteUser.FName</td>
                            <td data-title="LName">@item.WebsiteUser.LName</td>
                            <td data-title="Email">@item.WebsiteUser.Email</td>
                            <td data-title="Phone">@item.WebsiteUser.Phone</td>
                            <td data-title="Recruiter">@item.WebsiteUser.RecruiterName</td>


                            @{
                                for (int i = 36; i <= 40; i++)
                                {
                                    var selectedChk = "";
                                    var cellColor = "#C0392B";
                                    var cellLabel = "Absent ✘";
                                    foreach (var att in Model.Attendance)
                                    {

                                        if (att.WebsiteUserID == item.WebsiteUser.WebsiteUserID && att.Day == i)
                                        {

                                            if (att.Attended == true)
                                            {
                                                selectedChk = "checked";
                                                cellColor = "green";
                                                cellLabel = "Present ✔";
                                                break;
                                            }

                                        }

                                    }

                            <td class="text-center" id="cellC_@item.WebsiteUser.WebsiteUserID@i" style="background-color:@cellColor">
                                @{
                                    if (Convert.ToString(Session["RoleName"]) != "Recruiter")
                                    {
                                        <input type="checkbox" value="" id="chkAttC_@item.WebsiteUser.WebsiteUserID@i" onchange="setColorCellC(@item.WebsiteUser.WebsiteUserID, @i)" @selectedChk>
                                    }
                                }
                                <label id="cellLabelC_@item.WebsiteUser.WebsiteUserID@i">@cellLabel</label>
                            </td>

                                }


                            }

                        </tr>
                    }

                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><b>Total</b></td>
                        <td><div id="C_totalDay_36">@ViewData["C_TodayDay36"]</div></td>
                        <td><div id="C_totalDay_37">@ViewData["C_TodayDay37"]</div></td>
                        <td><div id="C_totalDay_38">@ViewData["C_TodayDay38"]</div></td>
                        <td><div id="C_totalDay_39">@ViewData["C_TodayDay39"]</div></td>
                        <td><div id="C_totalDay_40">@ViewData["C_TodayDay40"]</div></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div id="attendanceC9" class="tab-pane fade in ">
        <div class="fullresponsivetable">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Recruiter</th>

                        @{
                            //if(Model.Training.StartDate1)
                        }
                        @{
                            for (int i = 41; i <= 45; i++)
                            {
                                <th class="text-center">Day @i <div id="C_HtotalDay_@i">(@ViewData["C_TodayDay" + i])</div></th>
                            }
                        }

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UsersC)
                    {
                        var date1 = "";

                        if (item.PaymentDate != null)
                        {
                            date1 = Convert.ToDateTime(item.PaymentDate).ToString("MM/dd/yyyy");
                        }

                        <tr>
                            <td data-title="Fname">@item.WebsiteUser.FName</td>
                            <td data-title="LName">@item.WebsiteUser.LName</td>
                            <td data-title="Email">@item.WebsiteUser.Email</td>
                            <td data-title="Phone">@item.WebsiteUser.Phone</td>
                            <td data-title="Recruiter">@item.WebsiteUser.RecruiterName</td>


                            @{
                                for (int i = 41; i <= 45; i++)
                                {
                                    var selectedChk = "";
                                    var cellColor = "#C0392B";
                                    var cellLabel = "Absent ✘";
                                    foreach (var att in Model.Attendance)
                                    {

                                        if (att.WebsiteUserID == item.WebsiteUser.WebsiteUserID && att.Day == i)
                                        {

                                            if (att.Attended == true)
                                            {
                                                selectedChk = "checked";
                                                cellColor = "green";
                                                cellLabel = "Present ✔";
                                                break;
                                            }

                                        }

                                    }

                            <td class="text-center" id="cellC_@item.WebsiteUser.WebsiteUserID@i" style="background-color:@cellColor">
                                @{
                                    if (Convert.ToString(Session["RoleName"]) != "Recruiter")
                                    {
                                        <input type="checkbox" value="" id="chkAttC_@item.WebsiteUser.WebsiteUserID@i" onchange="setColorCellC(@item.WebsiteUser.WebsiteUserID, @i)" @selectedChk>
                                    }
                                }
                                <label id="cellLabelC_@item.WebsiteUser.WebsiteUserID@i">@cellLabel</label>
                            </td>

                                }


                            }


                        </tr>
                    }

                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><b>Total</b></td>
                        <td><div id="C_totalDay_41">@ViewData["C_TodayDay41"]</div></td>
                        <td><div id="C_totalDay_42">@ViewData["C_TodayDay42"]</div></td>
                        <td><div id="C_totalDay_43">@ViewData["C_TodayDay43"]</div></td>
                        <td><div id="C_totalDay_44">@ViewData["C_TodayDay44"]</div></td>
                        <td><div id="C_totalDay_45">@ViewData["C_TodayDay45"]</div></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div id="attendanceC10" class="tab-pane fade in ">
        <div class="fullresponsivetable">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Recruiter</th>

                        @{
                            //if(Model.Training.StartDate1)
                        }
                        @{
                            for (int i = 46; i <= 50; i++)
                            {
                                <th class="text-center">Day @i <div id="C_HtotalDay_@i">(@ViewData["C_TodayDay" + i])</div></th>
                            }
                        }

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UsersC)
                    {
                        var date1 = "";

                        if (item.PaymentDate != null)
                        {
                            date1 = Convert.ToDateTime(item.PaymentDate).ToString("MM/dd/yyyy");
                        }

                        <tr>
                            <td data-title="Fname">@item.WebsiteUser.FName</td>
                            <td data-title="LName">@item.WebsiteUser.LName</td>
                            <td data-title="Email">@item.WebsiteUser.Email</td>
                            <td data-title="Phone">@item.WebsiteUser.Phone</td>
                            <td data-title="Recruiter">@item.WebsiteUser.RecruiterName</td>


                            @{
                                for (int i = 46; i <= 50; i++)
                                {
                                    var selectedChk = "";
                                    var cellColor = "#C0392B";
                                    var cellLabel = "Absent ✘";
                                    foreach (var att in Model.Attendance)
                                    {

                                        if (att.WebsiteUserID == item.WebsiteUser.WebsiteUserID && att.Day == i)
                                        {

                                            if (att.Attended == true)
                                            {
                                                selectedChk = "checked";
                                                cellColor = "green";
                                                cellLabel = "Present ✔";
                                                break;
                                            }

                                        }

                                    }

                            <td class="text-center" id="cellC_@item.WebsiteUser.WebsiteUserID@i" style="background-color:@cellColor">
                                @{
                                    if (Convert.ToString(Session["RoleName"]) != "Recruiter")
                                    {
                                        <input type="checkbox" value="" id="chkAttC_@item.WebsiteUser.WebsiteUserID@i" onchange="setColorCellC(@item.WebsiteUser.WebsiteUserID, @i)" @selectedChk>
                                    }
                                }
                                <label id="cellLabelC_@item.WebsiteUser.WebsiteUserID@i">@cellLabel</label>
                            </td>

                                }


                            }


                        </tr>
                    }

                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><b>Total</b></td>
                        <td><div id="C_totalDay_46">@ViewData["C_TodayDay46"]</div></td>
                        <td><div id="C_totalDay_47">@ViewData["C_TodayDay47"]</div></td>
                        <td><div id="C_totalDay_48">@ViewData["C_TodayDay48"]</div></td>
                        <td><div id="C_totalDay_49">@ViewData["C_TodayDay49"]</div></td>
                        <td><div id="C_totalDay_50">@ViewData["C_TodayDay50"]</div></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>

<style>
    #pageloaddivC {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: url('../../images/loading.gif') no-repeat center center;
    }
</style>

<div id="pageloaddivC" hidden>
</div>

@Scripts.Render("~/bundles/jquery")

<script>

    var totalDayAttendance = 0;

    function setColorCellC(userid, day) {
        var color = '';
        var txtColor = 'white';
        var val = '';
        
        if (document.getElementById("chkAttC_" + + userid + day).checked == true) {
            $('#cellC_' + userid + day).css('background', 'green');
            $('#cellLabelC_' + userid + day).text('Present ✔');
            val = 'Yes';
        }
        if (document.getElementById("chkAttC_" + + userid + day).checked == false) {
            $('#cellC_' + userid + day).css('background', '#C0392B');
            $('#cellLabelC_' + userid + day).text('Absent ✘');
            val = 'No';
        }

        jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("SaveTrainingAttendance", "TrainingCours")',
                data: { "uID": userid, "tID": @Model.Training.TrainingCourseID, "day": day, "attended": val, "group":'C' },
                success: function (data) {
                    toastr.success('Saved 😀');
                    //elementsYes = document.getElementsByClassName('yesOption');
                    $('#C_totalDay_' + day).html(parseInt(data))
                    $('#C_HtotalDay_' + day).html("(" + parseInt(data) + ")")

                },
                error: function (textStatus) {
                    toastr.error('Error: Something wrong!');
                }
            });

    }

    function fnReloadAttendanceC() {
        $('#pageloaddivC').show();
        var tcID = @ViewBag.TrainingCourseID;

        $.ajax({
            url: '@Url.Action("GetAttendanceListC", "TrainingCours")',
            data: { "id": tcID },
            success: function (data) {
                $('#pageloaddivC').hide();
                $("#attendanceC-list").html(data);
                toastr.success('Updating attendance list...');
            }
        });

    }

</script>