@model TMS.Models.InterviewQuestion

@{
    ViewBag.Title = "Interview Question Setup";
    Layout = "~/Views/Shared/_Layout_Ext.cshtml";
}

<div class="page-content">
    <div class="pull-left">
        <div class="page-title" style="padding-left:20px">Interview Questions</div>
    </div>
    <div class="pull-right paddingtop" style="padding-right:20px">
        <img height="50" src="~/images/logo.png" />
    </div>

    <!-- start widget -->
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                @using (Ajax.BeginForm("SaveInterviewQuestionExt", "InterviewQuestions", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
                {
                    @*@Html.AntiForgeryToken()*@
                    <div class="card-body" id="bar-parent1">
                        <form action="#" id="form_sample_1" class="form-horizontal" novalidate>
                            <div class="form-body">
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Candidate Name *
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control", maxlength = "100", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
                                    </div>

                                    <label class="control-label col-md-2">
                                        Email
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", maxlength = "100" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Company Name *
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", maxlength = "200", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                                    </div>

                                    <label class="control-label col-md-2">
                                        Interview Date*
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.InterviewDate, new { htmlAttributes = new { @class = "form-control", @required = "required", @type = "date" } })
                                        @Html.ValidationMessageFor(model => model.InterviewDate, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Technology*
                                    </label>
                                    <div class="col-md-4">

                                        @Html.DropDownListFor(model => model.Technology, ViewData["TECHNOLOGIES"] as IEnumerable<SelectListItem>, "--Select Technology--", htmlAttributes: new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.Technology, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Description*
                                    </label>
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @rows = 20, @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="form-actions">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>

                                    @Html.ActionLink("Cancel", "InterviewQuestionsAccess", new { controller = "InterviewQuestions" }, new { @class = "btn btn-default" })
                                </div>
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>

</div>
@Scripts.Render("~/bundles/jquery")
<script src="https://cdn.tiny.cloud/1/9xc9wdopb0ep4oervh62x1e67qfoskkab0sm3i2gajsxxvzo/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script type="text/javascript">
    tinymce.init({
        selector: 'textarea', height: 350,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help'

    });
</script>
