@model PagedList.IPagedList<TMS.Models.ContractTemplate>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Contract Templates";
}
<div class="page-content">
    <div class="page-bar">
        <div class="page-title-breadcrumb">
            <div class=" pull-left">
                <div class="page-title">Contract Templates</div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
                <li>
                    <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="@Url.Action("Index","WebsiteDashboard")">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Contract Templates</li>
            </ol>
        </div>
    </div>
    <!-- start widget -->
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-head">
                    <div class="input-group col-md-9" style="margin-top:10px; margin-left:10px">
                        @using (Html.BeginForm("ContractTemplateSearch", "ContractTemplates", new { @class = "form-inline" }))
                        {
                            <div class="input-group">
                                @Html.TextBox("txtSearch", (string)ViewBag.Search, new { @class = "form-control", placeholder = "Search Contract Template" })
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </span>
                            </div>
                        }
                    </div>

                    <span class="pull-right paddingtop">

                        <a href="@Url.Action("SendContract", new { controller = "ContractTemplates" })" class="btn btn-primary btn-add" title="Click to Send" data-toggle="tooltip">
                            <i class="fa fa-envelope-o"></i>
                        </a>

                        <a href="@Url.Action("CreateContractTemplate", new { controller = "ContractTemplates", id = 0 })" class="btn btn-primary btn-add" title="Click to Create New" data-toggle="tooltip">
                            <i class="fa fa-plus"></i>
                        </a>

                    </span>
                </div>
                <div class="@(Model.Count > 0  ? "PanelShow card-body" : "PanelHide")">
                    <div class="fullresponsivetable">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.ActionLink("Contract Template Name " + (Convert.ToString(ViewBag.NameSortParm) == "name" ? "↑" : "↓"), "ContractTemplateList", new { sortOrder = ViewBag.NameSortParm })
                                    </th>

                                    <th>
                                        @Html.ActionLink("Company " + (Convert.ToString(ViewBag.CompanySortParm) == "company" ? "↑" : "↓"), "ContractTemplateList", new { sortOrder = ViewBag.CompanySortParm })
                                    </th>

                                    <th class="text-center">
                                        @Html.ActionLink("Active " + (Convert.ToString(ViewBag.ActiveSortParm) == "active" ? "↑" : "↓"), "ContractTemplateList", new { sortOrder = ViewBag.ActiveSortParm })
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("EditContractTemplate", new { controller = "ContractTemplates", id = item.ContractTemplateID})" title="Click to Edit" data-toggle="tooltip">
                                                @Html.DisplayFor(modelItem => item.TemplateName)
                                            </a>
                                        </td>

                                        <td>@Html.DisplayFor(modelItem => item.Company.COMPANY_NAME)</td>

                                        <td data-title="Active" class="text-center">
                                            @if (item.IsActive == true)
                                            {
                                                <i class="fa fa-check-square-o" style="color:green"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-remove" style="color:red"></i>
                                            }
                                        </td>

                                        <td class="text-center">

                                            <a href="@Url.Action("EditContractTemplate", new { controller = "ContractTemplates", id = item.ContractTemplateID})" class="btn btn-xs btn-new" title="Click to Edit" data-toggle="tooltip">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a href="@Url.Action("PDFPreview", new { controller = "ContractTemplates", idx = item.ContractTemplateID, userIDx = 0})" class="btn btn-xs btn-new" title="Click to Preview" data-toggle="tooltip" target="_blank">
                                                <i class="fa fa-eye"></i>
                                            </a>

                                            <a href="@Url.Action("PrintViewToPdf", new { controller = "ContractTemplates", id = item.ContractTemplateID, userID = 0})" class="btn btn-xs btn-new" title="Click to Download" data-toggle="tooltip">
                                                <i class="fa fa-download"></i>
                                            </a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("ContractTemplateList", new { page, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.Search }))
                </div>
            </div>
        </div>
    </div>


</div>
