@model TMS.Models.ContractTemplate

@{
    ViewBag.Title = "Contract Template Setup";
}

<div class="page-content">
    <div class="page-bar">
        <div class="page-title-breadcrumb">
            <div class=" pull-left">
                <div class="page-title">Contract Template Setup</div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
                <li>
                    <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="@Url.Action("Index","WebsiteDashboard")">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a class="parent-item" href="@Url.Action("ContractTemplateList","ContractTemplates")">Contract Template List</a>&nbsp;<i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Contract Template Setup</li>
            </ol>
        </div>
    </div>
    <!-- start widget -->
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                @using (Ajax.BeginForm("SaveContractTemplate", "ContractTemplates", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "FileForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="card-body" id="bar-parent1">
                        <form action="#" id="form_sample_1" class="form-horizontal" novalidate>
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Template Name
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.TemplateName, new { htmlAttributes = new { @class = "form-control", @required = "required", maxlength = "250" } })
                                        @Html.ValidationMessageFor(model => model.TemplateName, "", new { @class = "text-danger" })
                                    </div>

                                    <label class="control-label col-md-2">
                                        Company
                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.CompanyID, ViewData["ID_COMPANY"] as IEnumerable<SelectListItem>, "--Select a Company--", htmlAttributes: new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Template Content
                                    </label>
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.TemplateContent, new { htmlAttributes = new { @class = "form-control", @rows = 20, id = "TemplateContent" } })

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Active
                                    </label>
                                    <div class="col-md-4">
                                        @Html.CheckBoxFor(model => model.IsActive, htmlAttributes: new { @class = "chkbox pull-left", @checked = true })
                                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>

                            </div>
                            <div class="form-actions">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>

                                    @Html.ActionLink("Cancel", "ContractTemplateList", new { controller = "ContractTemplates" }, new { @class = "btn btn-default" })
                                </div>
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>

</div>


<script src="https://cdn.tiny.cloud/1/9xc9wdopb0ep4oervh62x1e67qfoskkab0sm3i2gajsxxvzo/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script type="text/javascript">
    tinymce.init({
        selector: 'textarea', height: 350,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help'

    });
</script>