@model TMS.Models.User

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

    var classX = "";
    if (Convert.ToString(TempData["Status"]) == "OK")
    {
        classX = "success";
    }
    else if (Convert.ToString(TempData["Status"]) == "Error")
    {
        classX = "danger";
    }
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

@using (Ajax.BeginForm("ForgotPassword", "Home", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "FileForm" }))
{
    <div>
        <img width="200" src="~/images/logo.png" />
    </div>
    <br />
    <h2>Enter your email</h2>
    <h4 class="text-@classX">@TempData["Message"]</h4>

    @Html.AntiForgeryToken()
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required", maxlength = "100", @type = "email", placeholder = "Email" } })
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

    <button type="submit">Submit</button>
    @*<button formaction="index.html" value="index.html">Login</button>*@
    <div class="forgetPassword">
        <a href="@Url.Action("Login","Home")">Back to Login</a>&nbsp;<i class="fa fa-arrow-circle-left"></i><br />
        <a href="@Url.Action("ResetPassword","Home")">I have a Recovery Code</a>&nbsp;<i class="fa fa-ticket"></i>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
