@model TMS.Models.User

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

    var classX = "";
    if (Convert.ToString(TempData["Status"]) == "OK")
    {
        classX = "success";
    }
    else if (Convert.ToString(TempData["Status"]) == "Error")
    {
        classX = "danger";
    }
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

@using (Ajax.BeginForm("ResetPassword", "Home", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "FileForm" }))
{
    <div>
        <img width="200" src="~/images/logo.png" />
    </div>
    <br />
    <h2>Reset your Password</h2>
    <h4 class="text-@classX">@TempData["Message"]</h4>

    @Html.AntiForgeryToken()
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required", maxlength = "100", @type = "email", placeholder = "Email" } })
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

    @Html.EditorFor(model => model.RecoveryCode, new { htmlAttributes = new { @class = "form-control", @required = "required", maxlength = "20", @type = "text", placeholder = "Recovery Code" } })
    @Html.ValidationMessageFor(model => model.RecoveryCode, "", new { @class = "text-danger" })

    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @required = "required", minlength = "3", maxlength = "20", @type = "password", placeholder = "New Password" } })
    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

    <button type="submit">Submit</button>
    @*<button formaction="index.html" value="index.html">Login</button>*@
    <div class="forgetPassword">
        <a href="@Url.Action("Login","Home")">Back to Login</a>&nbsp;<i class="fa fa-arrow-circle-left"></i><br />
        <a href="@Url.Action("ForgotPassword","Home")">Need a Recovery Code?</a>&nbsp;<i class="fa fa-question-circle"></i>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
