@model TMS.Models.Users

@{
    ViewBag.Title = "User Setup";
}

<div class="page-content">
    <div class="page-bar">
        <div class="page-title-breadcrumb">
            <div class=" pull-left">
                <div class="page-title">User Setup</div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
                <li>
                    <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="@Url.Action("Index","WebsiteDashboard")">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a class="parent-item" href="@Url.Action("UsersList","Home")">User List</a>&nbsp;<i class="fa fa-angle-right"></i>
                </li>
                <li class="active">User Setup</li>
            </ol>
        </div>
    </div>
    <!-- start widget -->
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                @using (Ajax.BeginForm("UserSetup", "Home", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "FileForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="card-body" id="bar-parent1">
                        <form action="#" id="form_sample_1" class="form-horizontal" novalidate>
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Full Name @Html.HiddenFor(model => model.ID)
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "field-validation-error" })
                                        @Html.TextBoxFor(model => model.FullName, htmlAttributes: new { @class = "form-control", placeholder = "Full Name", @id = "txtFullName" })
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Role 
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.ValidationMessageFor(model => model.Roles_id, "", new { @class = "field-validation-error" })
                                        @Html.DropDownListFor(model => model.Roles_id, (SelectList)ViewBag.Roles, "Select Role", new { @class = "form-control m-bot15", @id = "ddlRole" })
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Email
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "field-validation-error" })
                                        @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control", @type = "email", placeholder = "Email", @id = "txtEmail" })
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Username
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "field-validation-error" })
                                        @Html.TextBoxFor(model => model.username, htmlAttributes: new { @class = "form-control", placeholder = "Username", @id = "txtUname" })
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Password
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "field-validation-error" })
                                        @Html.TextBoxFor(model => model.password, htmlAttributes: new { @class = "form-control", @type = "password", placeholder = "Password", @id = "txtUPassword" })
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        <label for="Active" class="pull-left">&nbsp;  Active</label>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            @Html.CheckBoxFor(model => model.ActiveInactive, htmlAttributes: new { @class = "chkbox pull-left", @id = "chkActive" })
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-actions">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>

                                    @Html.ActionLink("Cancel", "UsersList", new { controller = "Home" }, new { @class = "btn btn-default" })
                                </div>
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>

</div>
